{% extends 'base.html' %}
{% block title %} Approval
{% endblock title%}

{% block body %}
<div class='container'>
<h3>Products </h3>
<div class="card-columns mt-100">
  <div class="container">
    <div class="card text-center" style="width: 18rem">
     {% load static %}
        <img src= "{% static "home/device.jpg" %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <a href="/admin/approveProduct/first/1/" class="btn btn-primary">Approve</a>
        <p class="card-text">
       <h5><b>Devices</b></h5>
        </p>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem">
    
      <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <a href="/admin/approveProduct/first/2/" class="btn btn-primary">Approve</a>
        <p class="card-text">
         <h5><b>Pet And Animals</b></h5>
        </p>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem">

      <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <a href="/admin/approveProduct/first/3/" class="btn btn-primary">Approve</a>
        <p class="card-text"> <h5><b>Book</b></h5></p>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem">
      <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <a href="/admin/approveProduct/first/4/" class="btn btn-primary">Approve</a>
        <p class="card-text"> <h5><b>Course</b></h5></p>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem">
      <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <a href="/admin/approveProduct/first/5/" class="btn btn-primary">Approve</a>
        <p class="card-text"> <h5><b>Tution</b></h5></p>
      </div>
    </div>
        <div class="card text-center" style="width: 18rem">
      <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <a href="/admin/approveProduct/first/6/" class="btn btn-primary">Approve</a>
        <p class="card-text"> <h5><b>Others</b></h5></p>
      </div>
    </div>
  </div>
</div>
</div>
<div class='container'>
<h3>Job</h3>
<div class="card text-center" style="width: 18rem">
      <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <a href="/admin/approveJob/first/" class="btn btn-primary">Approve</a>
        <p class="card-text"> <h5><b>Job</b></h5></p>
      </div>
    </div>
    </div>
{% endblock body %}