{% extends 'base.html' %}
{% block title %} Home
{% endblock title%}

{% block body %}


<div class="jumbotron">
  <h1 class="display-4">Welcome to BIKROY.COM</h1>
  <p class="lead">BIKROY.COM is the biggest platform of Bangladesh where products and jobs advertisement can be provided. </p>
  <hr class="my-4">
  <p>People can sell their both new and old products to a customer through advertisements. People can also make advertisements of Jobs.</p>
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>


{% endblock body %}

