{% extends 'base.html' %}

{% block title %}
Post Product Ad
{% endblock title %}

{% block body %}


<div class="jumbotron">
    <h1 class="display-3">Choose a Category for Your Product</h1>
    <p class="lead">This is the section of BIKROY.COM from where you can post your advertisement of the product which
        you can to sell through us.</p>
    <hr class="my-10">
    <p class="lead">We provide some categories of Products. Here is a shortlist.....</p>


    <div>
        <div class="row">
            <a href="/productAdCategory">
                <div class="col-sm-6 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Devices & Gadgets</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="/productAdCategory/1" class="btn btn-primary">Post Ad</a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/productAdCategory">
                <div class="col-sm-6 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pet & Animals</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="/productAdCategory/2" class="btn btn-primary">Post Ad</a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/productAdCategory">
                <div class="col-sm-6 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Books</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="/productAdCategory/3" class="btn btn-primary">Post Ad</a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/productAdCategory">
                <div class="col-sm-6 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Courses</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="/productAdCategory/4" class="btn btn-primary">Post Ad</a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/productAdCategory">
                <div class="col-sm-6 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tuitions</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="/productAdCategory/5" class="btn btn-primary">Post Ad</a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/productAdCategory">
                <div class="col-sm-6 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Others (Property, Cars, Furnitures etc)</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="/productAdCategory/6" class="btn btn-primary">Post Ad</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock body %}