{% extends 'base.html' %}
{% block title %} Post an Advertisement
{% endblock title%}

{% block body %}


<div class="jumbotron">
  <h1 class="display-4">You can post your Advertisement from Here</h1>
  <p class="lead">You can post Advertisement from this section. There are two two types of Advertisement. Product Ad and Job Ad. Select yours....</p>
  <hr class="my-4">
  <p>Use the buttons below to go to your desired Advertisement generation.... </p>
  <a class="btn btn-primary btn-lg" href="/postProductAd" role="button">Product Ad</a>
  <a class="btn btn-primary btn-lg" href="/postJobAd" role="button">Job Ad</a>
</div>

{% endblock body %}
