{% extends 'base.html' %} {% block title %} product view {% endblock title %} {%block body %}


  <h5>Posted at {{ad_time}} from {{thana}},{{district}} {{division}}</h5>
  <h3><b>{{product_name}}</b></h3>
<div class="container">
  <div class="card text-center" style="width: 18rem">
    <div class="card-body">
      <h3 class="card-title"><b>Tk. {{price}}</b></h3>
      <p class="card-text">{{description}}</p>
    </div>
    {% ifequal id 1 %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Catagory : {{device_catagory}}</li>
      <li class="list-group-item">Brand : {{brand}}</li>
      <li class="list-group-item">Model : {{model}}</li>
      <li class="list-group-item">Condition {{condition}}</li>
      <li class="list-group-item">Authenticity: {{authenticity}}</li>
      {% if generation %}
      <li class="list-group-item">Generation : {{generation}}</li>
      {% endif %} {% if features %}
      <li class="list-group-item">Features : {{features}}</li>
      {% endif %}
    </ul>
    {% endifequal %} {% ifequal id 2 %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Pet Type : {{pet_type}}</li>
      <li class="list-group-item">Age: {{age}}</li>
      <li class="list-group-item">Gender: {{gender}}</li>
      {% if color %}
      <li class="list-group-item">Color : {{color}}</li>
      {% endif %}
    </ul>
    {% endifequal %}
    {% ifequal id 3 %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Writer : {{writer}}</li>
      <li class="list-group-item">Condition: {{condition}}</li>
      <li class="list-group-item">Genre: {{genre}}</li>
    </ul>
    {% endifequal %}
      {% ifequal id 4 %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Course Title : {{course_title}}</li>
      <li class="list-group-item">Organization: {{organization}}</li>
    
    </ul>
    {% endifequal %}
      {% ifequal id 5 %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Gender Requirement of Tutor : {{tutor_gender}}</li>
      <li class="list-group-item">Time Duration: {{time_duration}}</li>
      <li class="list-group-item">Subject(s): {{tution_subject}}</li>
      <li class="list-group-item">Education level of student: {{education_level}}</li>
    </ul>
    {% endifequal %}
    <br />
    <br />
    <div class="card text-center" style="width: 18rem">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>{{fullname}}</b></li>
        <li class="list-group-item">Contact : {{contact_no}}</li>
        <li class="list-group-item">Payment System : {{payment_system}}</li>
      </ul>
    </div>
  </div>
</div>

<h3><b>Similar Products</b></h3>
<div class='container'>
{% ifequal id 1 %}
{% if similar %}
 {% for product in similar %}
 <a href="/productSection/1/{{product.spr_id}}"><div class="card text-right" style="width: 18rem">
  <img src="..." class="card-img-left" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{product.sname}}</h5>
    <p class="card-text">
      {{product.scat}}<br />{{product.scond}}<br />TK.
      {{product.sprice}}
    </p>
  </div>
</div>
</a>
{% endfor %}
{% else %}
<h5>no similar products</h5>
{% endif %}
{% endifequal %}
{% ifequal id 2 %} {% if similar %} {% for product in similar %}
<a href="/productSection/2/{{product.sprid}}"><div class="card text-right" style="width: 18rem">
  <img src="..." class="card-img-left" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{product.sname}}</h5>
    <p class="card-text">{{product.sp_type}}<br />TK. {{product.sprice}}</p>
  </div>
</div>
</a>
{% endfor %} {% else %}
<h5>no similar products</h5>
{% endif %} {% endifequal %}
{% ifequal id 3 %}  {% if similar %} {% for product in similar %}
<a href="/productSection/3/{{product.sprid}}"><div class="card text-right" style="width: 18rem">
  <img src="..." class="card-img-left" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{product.sname}}</h5>
    <p class="card-text">
      {{product.sgenre}}<br />{{product.scondition}}<br />TK. {{product.sprice}}
    </p>
  </div>
</div>
</a>
{% endfor %} {% else %}
<h5>no similar products</h5>
{% endif %} {% endifequal %}
{% ifequal id 4 %} {% if similar %} {% for product in similar %}
<a href="/productSection/4/{{product.sprid}}"><div class="card text-right" style="width: 18rem">
  <img src="..." class="card-img-left" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{product.sname}}</h5>
    <p class="card-text">{{product.s_title}}<br />TK. {{product.sprice}}</p>
  </div>
</div>
</a>
{% endfor %}  {% else %}
<h5>no similar products</h5>
{% endif %}  {% endifequal %}
{% ifequal id 5 %} {% if similar %} {% for product in similar %}
<a href="/productSection/5/{{product.sprid}}"><div class="card text-right" style="width: 18rem">
  <img src="..." class="card-img-left" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{product.sname}}</h5>
    <p class="card-text">
      {{product.st_gender}}<br />{{product.sedu_level}}<br />TK.
      {{product.sprice}}
    </p>
  </div>
</div>
</a>
{% endfor %} {% else %}
<h5>no similar products</h5>
{% endif %} {% endifequal %}
</div>

{% endblock body %}
