{% extends 'base.html' %} {% block title %} products
{% endblock title%} {%block body %}

<div class="row" style="background-color: #DDDDDD;">

<div class="container">
  <div class="card mx-2 my-3 text-center">
    <h2>Choose Product Category</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mx-2 my-4 ">
    <div class="col mb-4">
      <div class="card h-100">
        {% load static %} <img src="{% static 'devices.jpg' %}"  class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/1/"><b>Devices</b></a>
          <p class="card-text">
            Find great deals for used Devices in Bangladesh including mobile
            phones, computers, laptops, TVs, cameras and much more.
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        {% load static %} <img src="{% static 'pets.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/2/"><b>Pet And Animals</b></a>
          <p class="card-text">
            Search from the widest variety of pets in Bangladesh. Select from
            dogs, puppies, cats, kittens, birds and other domesticated animals
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        {% load static %} <img src="{% static 'books.jpg' %}" class="card-img-top"alt="..." />
        <div class="card-body">
          <a href="/productSection/3/"><b>Book</b></a>
          <p class="card-text">Here you can find all types of books</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        {% load static %} <img src="{% static 'courses.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/4/"><b>Course</b></a>
          <p class="card-text">Here you can find all types of Courses</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        {% load static %} <img src="{% static 'tuitions.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/5/"><b>Tution</b></a>
          <p class="card-text">Here you can find all tutions of all types</p>
        </div>
      </div>
    </div>
    {% comment %} <div class="col mb-4">
      <div class="card h-100">
        {% load static %} <img src="{% static 'others.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/5/"><b>Others (Property, Furnitures, Vehicles)</b></a>
          <p class="card-text">Here you can find furnitures, vehicles, property, household products etc. Check it out.</p>
        </div>
      </div>
    </div> {% endcomment %}
  </div>


  <!-- Carousel 2 starts -->

    <div id="carouselExampleIndicators" class="carousel slide my-2" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/protarok001.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/protarok002.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/protarok003.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/protarok004.jpg" class="d-block w-100"  alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Carousel 2 ends -->
</div>
</div>


<!-- <div class="container">

  <div class="card-columns mt-100">
    <div class="container">
      <div class="card text-center" style="width: 18rem">
        {% load static %} <img src="{% static "home/device.jpg" %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/1/"><b>Devices</b></a>
          <p class="card-text">
            Find great deals for used Devices in Bangladesh including mobile
            phones, computers, laptops, TVs, cameras and much more.
          </p>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem">
        <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/2/"><b>Pet And Animals</b></a>
          <p class="card-text">
            Search from the widest variety of pets in Bangladesh. Select from
            dogs, puppies, cats, kittens, birds and other domesticated animals
          </p>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem">
        <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/3/"><b>Book</b></a>
          <p class="card-text">Here you can find all types of books</p>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem">
        <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/4/"><b>Course</b></a>
          <p class="card-text">Here you can find all types of Courses</p>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem">
        <img src="{% static 'home/device.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/productSection/5/"><b>Tution</b></a>
          <p class="card-text">Here you can find all tutions of all types</p>
        </div>
      </div>
    </div>
  </div>
</div> -->


{% endblock body %}