<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>{% block title %} {% endblock title %}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Bikroy.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item {% block productactive %}  {% endblock productactive %} ">
          <a class="nav-link" href="/productSection">Product Section</a>
        </li>
        <li class="nav-item {% block jobactive %}  {% endblock jobactive %} ">
          <a class="nav-link" href="/jobSection">Job Section</a>
        </li>
        <li>
          <a href="/postAd" class="btn btn-success btn-lg" role="button" aria-pressed="true">Post Ad</a>
        </li>

        {% ifequal request.user.username 'bikroy' %}
        <li>
          <a href="/approve" class="btn btn-danger btn-lg mx-3" role="button" aria-pressed="true">Approve Ad</a>
        </li>
        {% endifequal %}


      </ul>
      <form method="get" action="/search" class="form-inline my-2 my-lg-0 mx-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
          id="query">
        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
        {% ifequal request.user.username 'bikroy' %}
        <a href="/admin" role="button" target="_blank" class="btn btn-outline-success m-2 my-sm-0"> Admin Panel </a>
        {% endifequal %}
      </form>

      <!-- Button to  trigger SignUp modal -->



      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome
            {{request.user}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
    {% else %}



    <!-- Button to  trigger Login modal -->
    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#loginModal">
      Login
    </button>

    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#signupModal">
      SignUp
    </button>

    {% endif %}


    </div>
  </nav>
  {% for message in messages  %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message : </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}





  <!-- SignUp Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup" method='post'>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username"
                placeholder="Choose a unique username">
            </div>
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name">
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="pass1">Choose a password</label>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password">
            </div>
            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2"
                placeholder="Enter your password again">
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <input type="text" class="form-control" id="gender" name="gender" placeholder="">
            </div>
            <div class="form-group">
              <label for="dateOfBirth">Date of Birth</label>
              <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" placeholder="">
            </div>
            <div class="form-group">
              <label for="profilePicture">Profile Picture</label>
              <input type="file" class="form-control" id="profilePicture" name="profilePicture" placeholder="">
            </div>
            <div class="form-group">
              <label for="phoneNo">Phone No</label>
              <input type="tel" class="form-control" id="phoneNo" name="phoneNo" placeholder="">
            </div>
            <div>
              <h3>Your Education Details</h3>
            </div>
            <div class="form-group">
              <label for="institutionName">Institution Name</label>
              <input type="text" class="form-control" id="institutionName" name="institutionName" placeholder="">
            </div>
            <div class="form-group">
              <label for="faculty">Faculty of Education</label>
              <input type="text" class="form-control" id="faculty" name="faculty" placeholder="">
            </div>
            <div class="form-group">
              <label for="institutionStart">Start Study</label>
              <input type="date" class="form-control" id="institutionStart" name="institutionStart" placeholder="">
            </div>
            <div class="form-group">
              <label for="institutionEnd">End Study</label>
              <input type="date" class="form-control" id="institutionEnd" name="institutionEnd" placeholder="">
            </div>
            <div class="form-group">
              <label for="institutionResult">Institution Result</label>
              <input type="text" class="form-control" id="institutionResult" name="institutionResult" placeholder="">
            </div>
            <div>
              <h3>Your Work Details</h3>
            </div>
            <div class="form-group">
              <label for="organizationName">Current Job Organization Name</label>
              <input type="text" class="form-control" id="organizationName" name="organizationName" placeholder="">
            </div>
            <div class="form-group">
              <label for="organizationStart">Start Work</label>
              <input type="date" class="form-control" id="organizationStart" name="organizationStart" placeholder="">
            </div>
            <div class="form-group">
              <label for="organizationEnd">End Work</label>
              <input type="date" class="form-control" id="organizationEnd" name="organizationEnd" placeholder="">
            </div>
            <div class="form-group">
              <label for="organizationPosition">Organization Position (Designation)</label>
              <input type="text" class="form-control" id="organizationPosition" name="organizationPosition"
                placeholder="">
            </div>
            <div class="form-group">
              <label for="organizationSalary">Organization Salary</label>
              <input type="number" step="0.01" class="form-control" id="organizationSalary" name="organizationSalary"
                placeholder="">
            </div>
            <div>
              <h3>Your Location Details</h3>
            </div>
            <div class="form-group">
              <label for="userDivision">Division</label>
              <input type="text" class="form-control" id="userDivision" name="userDivision" placeholder="">
            </div>
            <div class="form-group">
              <label for="userDistrict">District</label>
              <input type="text" class="form-control" id="userDistrict" name="userDistrict" placeholder="">
            </div>
            <div class="form-group">
              <label for="userThana">Thana</label>
              <input type="text" class="form-control" id="userThana" name="userThana" placeholder="">
            </div>
            <div class="form-group">
              <label for="userZip">Zip Code</label>
              <input type="number" class="form-control" id="userZip" name="userZip" placeholder="">
            </div>




            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>






  {% block body %} {% endblock body %}

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login" method="post">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername"
                placeholder="Enter your username">
            </div>
            <div class="form-group">
              <label for="pass">Enter your password </label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                placeholder="Enter your password ">
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous"></script>
</body>

</html>